<% layout('/layouts/boilerplate')%>
<table class="tg">
    <thead>
    <tr>
        <th class="tg-0lax" colspan="2"><img src="<%= gym.image%>" alt="image for a gym"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="tg-0lax" colspan="2"><%= gym.name%></td>
    </tr>
    <tr>
        <td class="tg-0lax"><%= gym.address%></td>
        <td class="tg-0lax"><%= gym.totalReview%></td>
    </tr>
    <tr>
        <td class="tg-0lax" colspan="2">
            <a href="<%= gym.facebook%>">Facebook</a>
            <a href="<%= gym.twitter%>">Twitter</a>
            <a href="<%= gym.instgram%>">Instgram</a>
        </td>
    </tr>
    </tbody>
</table>
<p><a href="/gyms/<%=gym._id%>/edit">Edit</a></p>
<div>
    <form action="/gyms/<%=gym._id%>?_method=DELETE" method="POST">
        <BUTTON>
            Delete
        </BUTTON>
    </form>
</div>

<footer>
    <a href="/gyms">Back to main page</a>
</footer>
<script>
    window.addEventListener("load", event => {
        var image = document.querySelector('img');
        if(!(image.complete && image.naturalHeight !== 0)){
            image.src = "https://source.unsplash.com/collection/10043143"
            image.style.height = "200px"
            image.style.width = "400px"
        }
    });
</script>